streamlit
PyPDF2
python-dotenv
pdf2image
google-generativeai
reportlab
psycopg2-binary
bcrypt
elevenlabs
twilio
pandas











streamlit
PyPDF2
google-generativeai
python-dotenv
pdf2image
reportlab
# openai-whisper
transformers
youtube-transcript-api
elevenlabs
docx2txt
fpdf
psycopg2-binary
bcrypt
langgraph